@page "/QuizPage"
@using Microsoft.Extensions.Logging
@using System.Timers
@using BlazorApp1.Shared.Quiz
@using BlazorApp1.Shared.Quiz.Dto.Response
@using BlazorApp1.Shared.UI
@using System.Text.Json
@using BlazorApp1.Shared.Quiz.Dto.Request
@using System.Text
@using Microsoft.AspNetCore.SignalR.Client
@inject IJSRuntime _jsRuntime
@inject ILogger<QuizPage> _logger
@inject HttpClient Client
@inject NavigationManager Navigation
@implements IAsyncDisposable

<h3>Quiz</h3>
<p>Connected: @IsConnected</p>

<div>
    <p>Game is active: @_quizState.IsActive</p>
    @* <p>Phase: @_quizState.Phase</p> *@
    <p>RemainingSeconds: @_quizState.RemainingSeconds</p>
    <p>sp: @_quizState.sp</p>
</div>

<input/>

<div id="quizGrid">
    <div class="videoWrapper" style="position: relative; float: left; background: dimgrey;">
        <div class="videoPlayer" style="visibility: @UiHelpers.Bool2Vis(_clientState.VideoPlayerVisibility)">
            <video src="@_currentSong?.Data" id="video" width="720px" height="400px" autoplay="autoplay" style="background: black;">
            </video>
            @* TODO: Make this work *@
            @* @if (videoPlayerVisibility) *@
            @* { *@
            @*     <p style="position: absolute; top: 40%; right: 40%; font-size: xx-large; color: white; z-index: -1">Sound only</p>  *@
            @* } *@
        </div>

        @if (!_clientState.VideoPlayerVisibility)
        {
@* TODO: properly center this *@
            <div id="countdownDiv" style="position: absolute; top: 40%; right: 45%; font-size: xxx-large; color: white;">
                @_clientState.Countdown
            </div>
        }
    </div>
    <div style="float:right;">
        @foreach (var debug in _clientState._debug)
        {
            <p style="padding: 0; margin:0;">@debug</p>
        }
    </div>
</div>

@code {
    private HubConnection? hubConnection;

    public bool IsConnected =>
        hubConnection?.State == HubConnectionState.Connected;

    protected override async Task OnInitializedAsync()
    {
        hubConnection = new HubConnectionBuilder()
            .WithUrl(Navigation.ToAbsoluteUri("/QuizHub"))
            .ConfigureLogging(logging =>
            {
                logging.AddProvider(_logger.AsLoggerProvider());
                logging.AddFilter("Microsoft.AspNetCore.SignalR", LogLevel.Debug);
            })
            .Build();

        hubConnection.On<int>("ReceivePhaseChanged", async phase => { await OnReceivePhaseChanged(phase); });
        hubConnection.On<bool>("ReceiveQuizStarted", async active => { await OnReceiveQuizStarted(); });
        hubConnection.On<bool>("ReceiveQuizEnded", async active => { await OnReceiveQuizEnded(); });

        await hubConnection.StartAsync();
    }

    public async ValueTask DisposeAsync()
    {
        if (hubConnection is not null)
        {
            await hubConnection.DisposeAsync();
        }
    }

    public class ClientState
    {
        public readonly List<string> _debug = new() { "" };

        public bool VideoPlayerVisibility { get; set; } = false;
        public int Countdown { get; set; } = _quizSettings.GuessTime;
        public Timer Timer { get; set; } = new();
    }

    // Todo: need to receive this from server at quiz start
    private static QuizSettings _quizSettings { get; set; } = new()
    {
        GuessTime = 7,
        ResultsTime = 3,
    };

    private static QuizState _quizState { get; set; } = new() { };

    private static ClientState _clientState { get; set; } = new() { };

    private List<Song?> _clientSongs = new(new Song[_quizState.NumSongs]) { };

    private Song? _currentSong;

    public async Task<Song?> NextSong(int index)
    {
        HttpResponseMessage res = await Client.PostAsJsonAsync("Quiz/NextSong", new ReqNextSong(78, index));

        if (res.IsSuccessStatusCode)
        {
            ResNextSong? nextSong = await res.Content.ReadFromJsonAsync<ResNextSong>().ConfigureAwait(false);
            if (nextSong is not null)
            {
                Song song = await DlSong(new Song { Url = nextSong.Url });
                return song;
            }
        }
        else
        {
    // todo
        }
        return null;
    }

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (!firstRender)
        {
            return;
        }

        _clientState._debug.Add("init");
    // todo send playerID
        var nextSong = await NextSong(0);
        _clientSongs[0] = nextSong;
        await hubConnection!.SendAsync("SendPlayerIsReady", 0);
    }

    private void SetTimer()
    {
        _clientState.Timer.Stop();
        _clientState.Timer.Elapsed -= OnTimedEvent;

        _clientState.Timer.Interval = TimeSpan.FromSeconds(1).TotalMilliseconds;
        _clientState.Timer.Elapsed += OnTimedEvent;
        _clientState.Timer.AutoReset = true;
        _clientState.Timer.Start();
    }

    private async Task SyncWithServer()
    {
        QuizState? sync = await Client.GetFromJsonAsync<QuizState>("Quiz/SyncQuizState");
        if (sync is not null)
        {
            _quizState = sync;
        }
        else
        {
    // todo
            _logger.LogError("Desynchronized");
        }
    }

    private async Task OnReceiveQuizStarted()
    {
        await SyncWithServer();
        _clientState.Countdown = _quizState.RemainingSeconds;
        StateHasChanged();
        SetTimer();
    }

    private async Task OnReceiveQuizEnded()
    {
        await SyncWithServer();

    // TODO: do endgame stuff
    }

    public async Task OnReceivePhaseChanged(int phase)
    {
        await SyncWithServer();

        switch (phase)
        {
            case 0:
                _clientState.VideoPlayerVisibility = false;
                _clientState.Countdown = _quizState.RemainingSeconds;
                StateHasChanged();

                await SwapSongs(_quizState.sp);
                StateHasChanged();
                await Preload(_quizState.sp, _quizSettings.PreloadAmount);
                break;
            case 1:
    // todo show players' guesses
                _clientState.Countdown = 0;
                StateHasChanged();
                break;
            case 2:
    // TODO: restart song (option?)
                _clientState.VideoPlayerVisibility = true;
                StateHasChanged();
                break;
        }
    }

    private async void OnTimedEvent(object? sender, ElapsedEventArgs e)
    {
        if (_clientState.Countdown > 0)
        {
            _clientState.Countdown -= 1;
        }

        StateHasChanged();
    }

    private async Task SwapSongs(int index)
    {
        if (index < _clientSongs.Count)
        {
            _clientState._debug.Add("index: " + index);
    // _clientState._debug.Add("cs: " + JsonSerializer.Serialize(_currentSong));
            _currentSong = _clientSongs[index];

            if (string.IsNullOrEmpty(_currentSong!.Data)) // todo put this on a timer instead?
            {
                await LoadMissingSong(index);
            }
        }
        else
        {
            _logger.LogError("Attempted to swap to a song that does not exist -- probably desynchronized");
        }
    }

    private async Task LoadMissingSong(int index)
    {
    // todo prevent double downloads
        _clientState._debug.Add("Missing song: " + _clientSongs[index]!.Name);
        var nextSong = await NextSong(index);
        _currentSong = nextSong;
        StateHasChanged();
    }

    private async Task Preload(int index, int amount = 1) // todo take song as param?
    {
        for (int i = 1; i <= amount; i++)
        {
            if (index + i < _clientSongs.Count)
            {
                var song = await NextSong(index + i);
                if (song is not null)
                {
                    _clientSongs[index + i] = song;
                    _clientState._debug.Add($"preloaded: {song.Url}");
                }
                else
                {
                    _logger.LogWarning("preload failed");
                }
            }
            else
            {
                _logger.LogWarning("no song to preload");
            }
        }
    }

    private async Task<Song> DlSong(Song song)
    {
        _clientState._debug.Add($"downloading {song.Url}");
        string data = await _jsRuntime.InvokeAsync<string>("fetchObjectUrl", song.Url);

        var ret = new Song
        {
            Name = song.Name,
            Url = song.Url,
            Data = data
        };

        return ret;
    }


}
