@using EMQ.Shared.Auth.Entities.Concrete.Dto.Request
@using System.ComponentModel.DataAnnotations
@using System.Net
@using EMQ.Shared.Auth.Entities.Concrete
@inject HttpClient _client
@inject NavigationManager _navigation
@inject ClientUtils _clientUtils

@* <h3>Change password</h3> *@

<p>Passwords must be between @AuthStuff.MinPasswordLength and @AuthStuff.MaxPasswordLength characters long. Use a password manager.</p>

<EditForm Model="@Model" OnValidSubmit="@(() => SendChangePasswordReq(Model))">
    <DataAnnotationsValidator/>
    <ValidationSummary/>

    <InputText id="current_password" type="password" @bind-Value="@Model.CurrentPassword" style="margin: 5px; width: 250px;"></InputText>
    <label for="current_password">Current password</label>
    <br/>

    <InputText id="password1" type="password" @bind-Value="@Model.Password1" style="margin: 5px; width: 250px;"></InputText>
    <label for="password1">New password</label>
    <br/>

    <InputText id="password2" type="password" @bind-Value="@Model.Password2" style="margin: 5px; width: 250px;"></InputText>
    <label for="password2">Confirm new password</label>
    <br/>

    <button type="submit" disabled="@(!Ready)" class="btn btn-primary">
        Submit
    </button>
</EditForm>

@StatusText

@code {

    public class ChangePasswordDoublePasswordModel
    {
        [Required]
        [StringLength(AuthStuff.MaxPasswordLength, MinimumLength = AuthStuff.MinPasswordLength)]
        public string CurrentPassword { get; set; } = "";

        [Required]
        [StringLength(AuthStuff.MaxPasswordLength, MinimumLength = AuthStuff.MinPasswordLength)]
        public string Password1 { get; set; } = "";

        [Required]
        [StringLength(AuthStuff.MaxPasswordLength, MinimumLength = AuthStuff.MinPasswordLength)]
        [Compare(nameof(Password1))]
        public string Password2 { get; set; } = "";
    }

    [Parameter]
    public string? Username { get; set; }

    private ChangePasswordDoublePasswordModel Model { get; } = new();

    private string StatusText { get; set; } = "";

    private bool Ready { get; set; } = true;

    protected override async Task OnInitializedAsync()
    {
        if (Username is null)
        {
            StatusText = "Could not get Username";
            return;
        }
    }

    private async Task SendChangePasswordReq(ChangePasswordDoublePasswordModel model)
    {
        if (Username is null)
        {
            StatusText = "Could not get Username2";
            return;
        }

        Ready = false;
        StatusText = "Processing...";
        StateHasChanged();

        var req = new ReqChangePassword(Username, model.CurrentPassword, model.Password1);
        var res = await _client.PostAsJsonAsync("Auth/ChangePassword", req);
        if (res.IsSuccessStatusCode)
        {
            var session = await res.Content.ReadFromJsonAsync<Session>();
            ClientState.Session = session;
            await _clientUtils.SaveSessionToLocalStorage();

            StatusText = "Successfully changed password. You will be redirected in 3 seconds.";
            model.CurrentPassword = "";
            model.Password1 = "";
            model.Password2 = "";
            StateHasChanged();

            await Task.Delay(TimeSpan.FromSeconds(3));
            _navigation.NavigateTo("/", forceLoad: true);
        }
        else
        {
            switch (res.StatusCode)
            {
                case HttpStatusCode.Gone:
                    StatusText = "Current password is invalid. Please try again.";
                    break;
                case HttpStatusCode.TooManyRequests:
                    StatusText = "You have been rate-limited. Try again in a minute.";
                    break;
                default:
                    StatusText = "Something went wrong when changing password.";
                    break;
            }
        }

        Ready = true;
        StateHasChanged();
    }

}
