@using Microsoft.AspNetCore.SignalR.Client
@using Microsoft.Extensions.Logging
@inject HttpClient _client
@inject ILogger<GuessInputComponent> _logger

<Autocomplete @ref="AutocompleteComponent"
              @onkeypress="Onkeypress"
              TItem="string"
              TValue="string"
              Data="@CurrentDataSource"
              ReadData="@OnHandleReadData"
              TextField="@((item) => item)"
              ValueField="@((item) => item)"
              Placeholder="@Placeholder"
              FreeTyping="@FreeTyping"
              MinLength="1"
              Debounce="true"
              DebounceInterval="5"
              MaxMenuHeight="325px"
              AutoPreSelect="false"
              AutoSelectFirstItem="false"
              CustomFilter="CustomFilter"
              SelectedValueChanged="SelectedValueChanged"
              Disabled="@IsDisabled">
</Autocomplete>

@* @if (IsQuizPage) *@
@* { *@
@*     <span style="word-wrap: anywhere">Guess: @Guess</span> *@
@* } *@
