@using EMQ.Shared.Library.Entities.Concrete
@using EMQ.Shared.Core
@using EMQ.Shared.Core.UI
@using EMQ.Shared.Quiz.Entities.Concrete
@using System.Globalization
@inject HttpClient _client

@if (LibraryStats is { } libraryStats)
{
    <div id="libraryStats">
    <Blazorise.Tabs @bind-SelectedTab="@SelectedTab">
    <Items>
        <Blazorise.Tab Name="TabGeneral">General</Blazorise.Tab>
        <Blazorise.Tab Name="TabSong">Song</Blazorise.Tab>
        <Blazorise.Tab Name="TabSongDifficulty">Song difficulty</Blazorise.Tab>
        <Blazorise.Tab Name="TabSongRating">Song rating</Blazorise.Tab>
        <Blazorise.Tab Name="TabVNYear">Source year</Blazorise.Tab>
        <Blazorise.Tab Name="TabVN">Source</Blazorise.Tab>
        <Blazorise.Tab Name="TabArtist">Artist</Blazorise.Tab>
        <Blazorise.Tab Name="TabUploaders">Uploader</Blazorise.Tab>
    </Items>
    <Content>
    @if (true)
    {
        List<LibraryStatsMsm> msmAvailable = libraryStats.msmAvailable;

        <Blazorise.TabPanel Name="TabGeneral">
            <ul style="padding-left: 17px; padding-top: 8px;">
                <li>VNDB import date: @Constants.ImportDateVndb</li>
                <li>EGS import date: @Constants.ImportDateEgs</li>
                <li>MusicBrainz import date: @Constants.ImportDateMusicBrainzActual</li>
                <li>VGMdb import date: @Constants.ImportDateVgmdb</li>
            </ul>

            <div>
                <p>Total:</p>
                <ul>
                    <li>Songs: @libraryStats.TotalMusicCount</li>
                    <li>Sources: @libraryStats.TotalMusicSourceCount</li>
                    <li>Artists: @libraryStats.TotalArtistCount</li>
                </ul>
            </div>

            <div>
                <p>Available:</p>
                <ul>
                    <li>Songs: @libraryStats.AvailableMusicCount (@(Utils.PercentageStr(libraryStats.AvailableMusicCount, libraryStats.TotalMusicCount)))</li>
                    <li>Sources: @libraryStats.AvailableMusicSourceCount (@(Utils.PercentageStr(libraryStats.AvailableMusicSourceCount, libraryStats.TotalMusicSourceCount)))</li>
                    <li>Artists: @libraryStats.AvailableArtistCount (@(Utils.PercentageStr(libraryStats.AvailableArtistCount, libraryStats.TotalArtistCount)))</li>
                </ul>
            </div>
        </Blazorise.TabPanel>


        <Blazorise.TabPanel Name="TabSong">
            <div>
                <ul>
                    <li>Songs with only video links: @libraryStats.VideoLinkCount</li>
                    <li>Songs with only sound links: @libraryStats.SoundLinkCount</li>
                    <li>Songs with both links: @libraryStats.BothLinkCount</li>
                </ul>
            </div>

            <div>
                <p>Total:</p>
                <ul>
                    @for (int index = 0; index < libraryStats.TotalLibraryStatsMusicType.Count; index++)
                    {
                        var libraryStatsMusicType = libraryStats.TotalLibraryStatsMusicType[index];
                        <li>@libraryStatsMusicType.Type: @libraryStatsMusicType.MusicCount</li>
                    }
                </ul>
            </div>

            <div>
                <p>Available:</p>
                <ul>
                    @for (int index = 0; index < libraryStats.AvailableLibraryStatsMusicType.Count; index++)
                    {
                        var libraryStatsMusicType = libraryStats.AvailableLibraryStatsMusicType[index];
                        <li>@libraryStatsMusicType.Type: @libraryStatsMusicType.MusicCount (@Utils.PercentageStr(libraryStats.AvailableLibraryStatsMusicType[index].MusicCount, libraryStats.TotalLibraryStatsMusicType[index].MusicCount))</li>
                    }
                </ul>
            </div>

            <table style="max-width: 400px">
                <tr class="libraryStatsHeaders">
                    <th class="libraryStatsHeader">Warning</th>
                    <th class="libraryStatsHeader">Songs</th>
                </tr>
                @foreach ((MediaAnalyserWarningKind warningKind, int count) in libraryStats.Warnings)
                {
                    <tr class="libraryStatsRow">
                        <td>@warningKind.GetDisplayName()</td>
                        <td>
                            <b style="cursor: pointer" @onclick="@(async () => { await Onclick_Warning(warningKind); })">@count</b>
                        </td>
                    </tr>
                }
            </table>

            <div>
                <p>Songs that have C/A/L info added:</p>
                <ul>
                    <li>Composer: @libraryStats.AvailableComposerCount (@(Utils.PercentageStr(libraryStats.AvailableComposerCount, libraryStats.TotalMusicCount)))</li>
                    <li>Arranger: @libraryStats.AvailableArrangerCount (@(Utils.PercentageStr(libraryStats.AvailableArrangerCount, libraryStats.TotalMusicCount)))</li>
                    <li>Lyricist: @libraryStats.AvailableLyricistCount (@(Utils.PercentageStr(libraryStats.AvailableLyricistCount, libraryStats.TotalMusicCount)))</li>
                </ul>
            </div>

            <div>
                <p>Song link lineage:</p>
                <ul>
                    @if (true)
                    {
                        int divisor = libraryStats.LineageDict.Sum(x => x.Value);
                        @foreach ((SongLinkLineage key, int value) in libraryStats.LineageDict)
                        {
                            <li>@key: @value (@(Utils.PercentageStr(value, divisor)))</li>
                        }
                    }
                </ul>
            </div>

        </Blazorise.TabPanel>


        <Blazorise.TabPanel Name="TabSongDifficulty">
            <p>Songs that have been played at least once: </p>
            <table style="max-width: 400px">
                <tr class="libraryStatsHeaders">
                    <th class="libraryStatsHeader">Difficulty level</th>
                    <th class="libraryStatsHeader">Songs</th>
                </tr>
                @foreach ((var songDifficultyLevel, int count) in libraryStats.SongDifficultyLevels)
                {
                    <tr class="libraryStatsRow">
                        <td>@songDifficultyLevel.GetDisplayName()</td>
                        <td>
                            <b style="cursor: pointer" @onclick="@(async () => { await Onclick_Difficulty(songDifficultyLevel); })">@count</b>
                        </td>
                    </tr>
                }
            </table>
        </Blazorise.TabPanel>

        <Blazorise.TabPanel Name="TabSongRating">
            <h5 style="margin-top: 5px;">Highly rated songs (at least 3 votes)</h5>
            <table style="max-width: 900px">
                <tr class="libraryStatsHeaders">
                    <th class="libraryStatsHeader">Song</th>
                    <th class="libraryStatsHeader">Rating</th>
                    <th class="libraryStatsHeader">Vote count</th>
                </tr>
                @foreach (var song in libraryStats.HighlyRatedSongs)
                {
                    <tr class="libraryStatsRow">
                        <td>@song.ToStringLatin()</td>
                        <td>@song.VoteAverage.ToString("F2", CultureInfo.InvariantCulture)</td>
                        <td>@song.VoteCount</td>
                    </tr>
                }
            </table>
            <br/>

            <h5 style="margin-top: 5px;">Most voted songs</h5>
            <table style="max-width: 900px">
                <tr class="libraryStatsHeaders">
                    <th class="libraryStatsHeader">Song</th>
                    <th class="libraryStatsHeader">Rating</th>
                    <th class="libraryStatsHeader">Vote count</th>
                </tr>
                @foreach (var song in libraryStats.MostVotedSongs)
                {
                    <tr class="libraryStatsRow">
                        <td>@song.ToStringLatin()</td>
                        <td>@song.VoteAverage.ToString("F2", CultureInfo.InvariantCulture)</td>
                        <td>@song.VoteCount</td>
                    </tr>
                }
            </table>
            <br/>
        </Blazorise.TabPanel>

        <Blazorise.TabPanel Name="TabVNYear">
            <table style="max-width: 400px">
                <tr class="libraryStatsHeaders">
                    <th class="libraryStatsHeader">Year</th>
                    <th class="libraryStatsHeader">Songs</th>
                    <th class="libraryStatsHeader">Percentage</th>
                </tr>
                @foreach ((DateTime year, int count) in libraryStats.msYearAvailable)
                {
                    <tr class="libraryStatsRow">
                        <td>@year.Year.ToString()</td>
                        <td>
                            <b style="cursor: pointer" @onclick="@(async () => { await Onclick_Year(year); })">@count/@libraryStats.msYear[year]</b>
                        </td>
                        <td style="color: @UiHelpers.Bool2Color(count == libraryStats.msYear[year], "green", "inherit")">
                            <b>@Utils.PercentageStr(count, libraryStats.msYear[year])</b>
                        </td>
                    </tr>
                }
            </table>
        </Blazorise.TabPanel>


        <Blazorise.TabPanel Name="TabVN">
            <div style="max-width: 700px;">
                <div>
                    <table>
                        <tr class="libraryStatsHeaders">
                            <th class="libraryStatsHeader">#</th>
                            <th class="libraryStatsHeader">Source</th>
                            <th class="libraryStatsHeader">Songs</th>
                            <th class="libraryStatsHeader">Percentage</th>
                        </tr>
                        @for (int i = 0; i < msmAvailable.Count; i++)
                        {
                            var item = msmAvailable[i];
                            <tr class="libraryStatsRow">
                                <td>@(i + 1)</td>
                                <td>
                                    <a class="link-primary" href="@(item.MselUrl)" target="_blank">
                                        <span>@item.MstLatinTitle</span>
                                    </a>
                                </td>

                                <td>
                                    <b style="cursor: pointer" @onclick="@(async () => { await Onclick_Mst(item.MstLatinTitle); })">@item.AvailableMusicCount/@item.MusicCount</b>
                                </td>
                                <td style="color: @UiHelpers.Bool2Color(item.AvailableMusicCount == @item.MusicCount, "green", "inherit")">
                                    <b>@Utils.PercentageStr(item.AvailableMusicCount, item.MusicCount)</b>
                                </td>
                            </tr>
                        }
                    </table>
                </div>
            </div>
        </Blazorise.TabPanel>


        <Blazorise.TabPanel Name="TabArtist">
            <Blazorise.Tabs @bind-SelectedTab="@SelectedTabArtist">
                <Items>
                    @foreach (string key in libraryStats.amAvailableDict.Keys)
                    {
                        <Blazorise.Tab @key="@key" Name="@key">@key</Blazorise.Tab>
                    }
                </Items>
                <Content>
                    @foreach ((string key, List<LibraryStatsAm> value) in libraryStats.amAvailableDict)
                    {
                        <Blazorise.TabPanel @key="@key" Name="@key">
                            <div style="max-width: 700px;">
                                <table>
                                    <tr class="libraryStatsHeaders">
                                        <th class="libraryStatsHeader">#</th>
                                        <th class="libraryStatsHeader">Artist</th>
                                        <th class="libraryStatsHeader">Songs</th>
                                        <th class="libraryStatsHeader">Percentage</th>
                                    </tr>
                                    @for (int i = 0; i < value.Count; i++)
                                    {
                                        var item = value[i];
                                        <tr class="libraryStatsRow">
                                            <td>@(i + 1)</td>
                                            <td>
                                                @* todo nonlatinalias *@
                                                @if (true)
                                                {
                                                    <span>@item.AALatinAlias</span>
                                                    <ArtistFaviconsComponent Links="item.Links"/>
                                                }
                                            </td>
                                            <td>
                                                <b style="cursor: pointer" @onclick="@(async () => { await Onclick_A(item.AId); })">@item.AvailableMusicCount/@item.MusicCount</b>
                                            </td>
                                            <td style="color: @UiHelpers.Bool2Color(item.AvailableMusicCount == @item.MusicCount, "green", "inherit")">
                                                <b>@Utils.PercentageStr(item.AvailableMusicCount, item.MusicCount)</b>
                                            </td>
                                        </tr>
                                    }
                                </table>
                            </div>
                        </Blazorise.TabPanel>
                    }
                </Content>
            </Blazorise.Tabs>
        </Blazorise.TabPanel>


        <Blazorise.TabPanel Name="TabUploaders">
            <table style="max-width: 350px">
                <tr class="libraryStatsHeaders">
                    <th class="libraryStatsHeader">#</th>
                    <th class="libraryStatsHeader">Username</th>
                    <th class="libraryStatsHeader">Total</th>
                    <th class="libraryStatsHeader">Video</th>
                    <th class="libraryStatsHeader">Sound</th>
                </tr>
                @{ int i = 1; }
                @foreach ((string username, var uploaderStats) in libraryStats.UploaderCounts)
                {
                    bool isRobot = username == Constants.RobotNameLower;
                    <tr class="libraryStatsRow">
                        <td>@i</td>
                        <td>
                            @if (isRobot)
                            {
                                <a class="link-primary" href="https://vndb.org/c49124" target="_blank">
                                    <span>@Constants.RobotName</span>
                                </a>
                            }
                            else
                            {
                                @username
                            }
                        </td>
                        <td>
                            <b style="cursor: pointer" @onclick="@(async () => { await Onclick_Uploader(username); })">@uploaderStats.TotalCount</b>
                        </td>
                        <td>
                            <b style="cursor: pointer" @onclick="@(async () => { await Onclick_Uploader(username); })">@uploaderStats.VideoCount</b>
                        </td>
                        <td>
                            <b style="cursor: pointer" @onclick="@(async () => { await Onclick_Uploader(username); })">@uploaderStats.SoundCount</b>
                        </td>
                    </tr>
                    i += 1;
                }
            </table>

            <br/>
            <table style="max-width: 350px">
                <tr class="libraryStatsHeaders">
                    <th class="libraryStatsHeader">#</th>
                    <th class="libraryStatsHeader">Username</th>
                    <th class="libraryStatsHeader">Approved edits</th>
                </tr>
                @{ int j = 1; }
                @foreach ((string username, int count) in libraryStats.EditorCounts)
                {
                    bool isRobot = username == Constants.RobotNameLower;
                    <tr class="libraryStatsRow">
                        <td>@j</td>
                        <td>
                            @if (isRobot)
                            {
                                <a class="link-primary" href="https://vndb.org/c49124" target="_blank">
                                    <span>@Constants.RobotName</span>
                                </a>
                            }
                            else
                            {
                                @username
                            }
                        </td>
                        <td>
                            <b>@count</b>
                        </td>
                    </tr>
                    j += 1;
                }
            </table>
        </Blazorise.TabPanel>
    }
    </Content>
    </Blazorise.Tabs>
    </div>
}
else
{
    <p>Loading...</p>
}
