@using EMQ.Shared.Library.Entities.Concrete
@using EMQ.Shared.Core
@inject HttpClient _client

@if (LibraryStats is { } libraryStats)
{
    <div id="libraryStats">
        <div>
            <p>Total:</p>
            <ul>
                <li>Songs: @libraryStats.TotalMusicCount</li>
                <li>VNs: @libraryStats.TotalMusicSourceCount</li>
                <li>Artists: @libraryStats.TotalArtistCount</li>
            </ul>
        </div>

        <div>
            <p>With at least one song link:</p>
            <ul>
                @* todo percentage method *@
                <li>Songs: @libraryStats.AvailableMusicCount (@(Utils.PercentageStr(libraryStats.AvailableMusicCount, libraryStats.TotalMusicCount)))</li>
                <li>VNs: @libraryStats.AvailableMusicSourceCount (@(Utils.PercentageStr(libraryStats.AvailableMusicSourceCount, libraryStats.TotalMusicSourceCount)))</li>
                <li>Artists: @libraryStats.AvailableArtistCount (@(Utils.PercentageStr(libraryStats.AvailableArtistCount, libraryStats.TotalArtistCount)))</li>
            </ul>
        </div>
    </div>
}
