@using EMQ.Shared.Core.UI
@using EMQ.Shared.Quiz.Entities.Concrete
@using EMQ.Shared.Core
@using System.Collections.Generic
@using System.Globalization
@using EMQ.Shared.Auth.Entities.Concrete
@using EMQ.Shared.Core.SharedDbEntities
@using EMQ.Shared.Library.Entities.Concrete
@using Microsoft.AspNetCore.Components.QuickGrid
@inject ClientUtils _clientUtils
@inject HttpClient _client
@inject IJSRuntime _jsRuntime

@* setting z-index seems to prevent the modal closing animation from playing sometimes, but we have to do it *@
<Blazorise.Modal @ref="_modalRef" style="z-index: 4000" RenderMode="Blazorise.ModalRenderMode.LazyReload"
                 Opened="@(async () => await OnOpened())" Closed="@(async () => await OnClosed())">
    <Blazorise.ModalContent Centered Size="Blazorise.ModalSize.ExtraLarge">
        <Blazorise.ModalHeader>
            <Blazorise.ModalTitle>Song collections</Blazorise.ModalTitle>
        </Blazorise.ModalHeader>
        <Blazorise.ModalBody>
            @if (IsOpen)
            {
                @if (ResGetCollectionContainers != null)
                {
                    <div class="grid" tabindex="-1">
                        <QuickGrid Items="@CurrentCollectionContainers">
                            <TemplateColumn Title="Name" Sortable="true" SortBy="@(GridSort<CollectionContainer>.ByAscending(x => x.Collection.name))">
                                @if (true)
                                {
                                    string href = $"eco{context.Collection.id}";
                                    <a href="@href" target="_blank">@context.Collection.name</a>
                                }
                            </TemplateColumn>
                            <TemplateColumn Title="Owner">
                                @Utils.UserIdToUsername(ResGetCollectionContainers!.UsernamesDict, context.CollectionUsers.First(x => x.role == CollectionUsersRoleKind.Owner).user_id)
                            </TemplateColumn>
                            <TemplateColumn Title="Added by">
                                @Utils.UserIdToUsername(ResGetCollectionContainers!.UsernamesDict, context.CollectionEntities.Single().modified_by)
                            </TemplateColumn>
                            <PropertyColumn Property="@(x => x.CollectionEntities.Single().modified_at)" Title="Added at" Sortable="true" IsDefaultSortColumn="true" InitialSortDirection="SortDirection.Descending"/>
                        </QuickGrid>
                    </div>
                }
            }
        </Blazorise.ModalBody>
        <Blazorise.ModalFooter>
            <button type="button" class="btn btn-secondary" @onclick="@(() => { _modalRef.Hide(); })">
                Close
            </button>
        </Blazorise.ModalFooter>
    </Blazorise.ModalContent>
</Blazorise.Modal>
