@using EMQ.Shared.Quiz.Entities.Concrete
@using EMQ.Shared.Core

@if (Song != null)
{
    @if (Song.Links.Any())
    {
        <SongReportComponent @ref="_songReportComponent" Song="@Song"/>
    }

    <div class="songInfoCard card">
        @if (Song.Links.Any())
        {
            <span class="link-danger"
                  style="position: absolute; right: 10px; top: 5px; cursor: pointer;"
                  @onclick="@(async () => await _songReportComponent.Onclick_Report())">
                Report
            </span>
        }

        <div class="songInfoCardBody card-body">
            <div class="songInfo">
                <div>
                    <h5 class="songSourceSongType">
                        @{
                            Dictionary<List<string>, List<SongSourceSongType>> songSourceVNIDSongTypes = new();

                            foreach (SongSource songSource in Song.Sources)
                            {
                                songSourceVNIDSongTypes.Add(songSource.Links.Select(x => x.Url).ToList(), songSource.SongTypes);
                            }

                            // couldn't get distinct to work
                            List<string> displayedIds = new();

                            foreach ((List<string> songSourceVNIDs, List<SongSourceSongType>? songTypes) in songSourceVNIDSongTypes)
                            {
                                foreach (string songSourceVNID in songSourceVNIDs)
                                {
                                    if (!displayedIds.Contains(songSourceVNID))
                                    {
                                        displayedIds.Add(songSourceVNID);

                                        string final = "";
                                        for (int index = 0; index < songTypes.Count; index++)
                                        {
                                            SongSourceSongType songType = songTypes[index];
                                            final += $"{songType}{(index + 1 != songTypes.Count ? ", " : "")}";
                                        }

                                        <a class="songSourceVNID link-primary" href="@songSourceVNID" target="_blank">
                                            <span>@(final)</span>
                                        </a>

                                        <br/>
                                    }
                                }
                            }
                        }

                    </h5>
                    @{
                        Title mainTitle = Converters.GetSingleTitle(Song.Titles);
                        string latinTitle = mainTitle.LatinTitle;
                        string? nonLatinTitle = mainTitle.NonLatinTitle;

                        // we're not using Title.ToString() here to force a newline between the Latin and NonLatin titles
                        <h5 class="songLatinTitle card-title">@mainTitle.LatinTitle</h5>
                        @if (!string.IsNullOrWhiteSpace(nonLatinTitle) &&
                             !string.Equals(nonLatinTitle, latinTitle, StringComparison.InvariantCultureIgnoreCase))
                        {
                            <h5 class="songNonLatinTitle card-title">(@mainTitle.NonLatinTitle)</h5>
                        }
                    }
                </div>
                <div>
                    by
                    @foreach (SongArtist songArtist in Song.Artists)
                    {
                        Title songArtistTitle = Converters.GetSingleTitle(songArtist.Titles);

                        <div>
                            <a class="songArtistsTitle link-primary" href="@(songArtist.VndbId.ToVndbUrl())" target="_blank">
                                <span>@songArtistTitle.ToString()</span>
                            </a>
                        </div>
                    }
                </div>
                @if (Song.Stats.TimesPlayed > 0)
                {
                    <br/>
                    <div class="songStats">
                        <div class="songStatsDifficulty">
                            @* todo coloring *@
                            @* todo tooltip  *@
                            Difficulty: @(Math.Round(Song.Stats.CorrectPercentage, 2))% (@(Song.Stats.TimesCorrect)/@(Song.Stats.TimesPlayed))
                        </div>
                        @if (Song.Stats.TimesGuessed > 0)
                        {
                            <div class="songStatsGuessTime">
                                Average guess time: @(Math.Round((float)Song.Stats.AverageGuessMs / 1000, 2))s (@Song.Stats.TimesGuessed)
                            </div>
                        }
                    </div>
                }
            </div>

        </div>
    </div>
}
