@using Microsoft.AspNetCore.Components
@using Microsoft.Extensions.Logging
@using EMQ.Shared.Core.UI
@using EMQ.Client.Components
@using EMQ.Shared.Auth.Entities.Concrete
@using EMQ.Shared.Core
@using System.Net.Http.Headers
@using EMQ.Shared
@inject HttpClient _client
@inject ILogger<Index> _logger
@inject ClientUtils _clientUtils

<details>
    <summary>Upload options</summary>
    <label>
        <InputCheckbox class="form-check-input" @bind-Value="UploadOptions.DoTwoPass" style="margin: 5px"></InputCheckbox>
        2-pass encoding
    </label>
    <br/>
    <label>
        <InputCheckbox class="form-check-input" @bind-Value="UploadOptions.ShouldCropSilence" style="margin: 5px"></InputCheckbox>
        Crop silence
    </label>
    <br/>
    <label>
        <InputCheckbox class="form-check-input" @bind-Value="UploadOptions.ShouldAdjustVolume" style="margin: 5px"></InputCheckbox>
        Adjust volume
    </label>
    <br/>
</details>

<p>
    Allowed formats: @UploadConstants.ValidMediaTypesStr
    <br/>
    Upload up to @UploadConstants.MaxFilesSpecificSongUpload files:
    <InputFile
        OnChange="@OnInputFileChange"
        multiple
        disabled="@(_uploadResults.Count >= UploadConstants.MaxFilesSpecificSongUpload)"
        style="width:100vw; max-width:100%; white-space: normal; word-break: break-all; overflow: hidden;"/>
    @StatusText
</p>

@if (_uploadResults.Count > 0)
{
    <ul>
        @foreach (var file in _uploadResults)
        {
            <li>
                @file.FileName
                <br>
                @if (file.Uploaded)
                {
                    <a class="link-primary" href="@(file.ResultUrl)" target="_blank" style="display: inline-block;">
                        <span>@file.ResultUrl</span>
                    </a>
                    @if (!string.IsNullOrEmpty(file.ExtractedResultUrl))
                    {
                        <a class="link-primary" href="@(file.ExtractedResultUrl)" target="_blank" style="display: inline-block;">
                            <span>@file.ExtractedResultUrl</span>
                        </a>
                    }
                }
                else
                {
                    if (string.IsNullOrEmpty(file.ErrorStr))
                    {
                        <span>Uploading...</span>
                    }
                    else
                    {
                        <span>@file.ErrorStr</span>
                    }
                }
                <br>
                <br>
            </li>
        }
    </ul>
}
