@using EMQ.Shared.Quiz.Entities.Concrete
@using EMQ.Shared.Auth.Entities.Concrete
@inject HttpClient _client

<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">EMQ</a>
        <button type="button" title="Navigation menu" class="navbar-toggler" @onclick="ToggleNavMenu">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
</div>

<div class="@NavMenuCssClass" @onclick="ToggleNavMenu">
    <nav class="flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="oi oi-home" aria-hidden="true"></span> Home
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="HotelPage">
                <span class="oi oi-list-rich" aria-hidden="true"></span> Hotel
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="LibraryPage">
                <span class="oi oi-list" aria-hidden="true"></span> Library
            </NavLink>
        </div>
        @if (ClientState.Session != null && AuthStuff.HasPermission(ClientState.Session.UserRoleKind, PermissionKind.Moderator))
        {
            <div class="nav-item px-3">
                <NavLink class="nav-link" href="ModPage">
                    <span class="oi oi-bolt" aria-hidden="true"></span> Mod
                </NavLink>
            </div>
        }
    </nav>

    <div style="color: white;">
        <ul>
            <li>Rooms: @ClientState.ServerStats.RoomsCount</li>
            @* <li>QMs: @ClientState.ServerStats.QuizManagersCount</li> *@
            <li>Sessions: @ClientState.ServerStats.ActiveSessionsCount/@ClientState.ServerStats.SessionsCount</li>
        </ul>
    </div>
    <div style="position: absolute; bottom: 5px; left: 5px;">
        <a href="https://discord.com/invite/jKFGavUdff">Discord</a>
        <br/>
        <a href="https://discord.gg/qz2uKjq9ry">Tournaments</a>
        <br/>
        <a href="https://github.com/mertvn/EMQ">Source code</a>
        <br/>

        @{
            string href = $"https://github.com/mertvn/EMQ/commit/{ClientState.ServerStats.GitHash}";
        }
        <a href="@href" target="_blank">#@ClientState.ServerStats.GitHash</a>
        <br/>
    </div>
</div>

@code {
    private bool collapseNavMenu = true;

    private string? NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            ServerStats? res = await _client.GetFromJsonAsync<ServerStats>("Auth/GetServerStats");
            if (res is not null)
            {
                ClientState.ServerStats = res;
            }
            StateHasChanged();
        }
    }

}
