@using Microsoft.AspNetCore.SignalR.Client
@using Microsoft.Extensions.Logging
@inject HttpClient _client
@inject ILogger<GuessInputComponent> _logger

@* todo send guess on guess phase end even if enter is not pressed *@

<Autocomplete @ref="AutocompleteComponent"
              @onkeypress="Onkeypress"
              TItem="string"
              TValue="string"
              Data="@currentDataSource"
              ReadData="@OnHandleReadData"
              TextField="@((item) => item)"
              ValueField="@((item) => item)"
              Placeholder="Enter your guess here"
              FreeTyping="true"
              MinLength="1"
              Debounce="true"
              DebounceInterval="20"
              MaxMenuHeight="340px"
              AutoPreSelect="false"
              AutoSelectFirstItem="false"
              CustomFilter="CustomFilter"
              SelectedValueChanged="SelectedValueChanged"
              Disabled="QuizPage.PageState.VideoPlayerVisibility">
</Autocomplete>

<span style="word-wrap: anywhere">Guess: @QuizPage.PageState.Guess</span>
