@page "/HotelPage"
@using Microsoft.Extensions.Logging
@using EMQ.Client.Components
@inject HttpClient Client
@inject ILogger<HotelPage> _logger
@inject NavigationManager Navigation
@inject ClientUtils _clientUtils

<h3>Hotel</h3>

<p>Welcome to EMQ Hotel. Here you can join an existing room or reserve a new room in order to play.</p>

<div>
    Name:<br/>
    <input @bind="Name" type="text" name="Name" style="margin: 5px"/><br/>
    @* Password:<br/> *@
    @* <input @bind="Password" type="password" name="Password"/><br/> *@
</div>

<button class="btn btn-primary" @onclick="CreateRoom" disabled="@(ClientState.Session == null)">Reserve Room</button>

@if (IsJoiningRoom)
{
    <p>Joining room...</p>
}

<div class="rooms d-flex flex-row flex-wrap" style="max-width: 1600px">
    @foreach (var room in Rooms)
    {
        <div class="roomCard card" style="margin: 16px">
            <div class="roomCardBody card-body">
                <div>
                    <div>
                        <h5 class="roomName card-title">@room.Name</h5>
                    </div>
                    <div>
                        <p> Owner: @room.Owner.Username</p>
                        <p> Players: @room.Players.Count</p>
                        <p> QuizStatus: @room.Quiz?.QuizState.QuizStatus</p>
                    </div>
                </div>
            </div>
            <button style="margin: 16px" class="btn btn-primary" disabled="@(ClientState.Session == null || IsJoiningRoom)" @onclick="@(() => JoinRoom(room.Id))">Join</button>
        </div>
    }
</div>
