@page "/HotelPage"
@using Microsoft.Extensions.Logging
@using EMQ.Client.Components
@inject HttpClient _client
@inject ILogger<HotelPage> _logger
@inject NavigationManager Navigation
@inject ClientUtils _clientUtils
@inject IJSRuntime _jsRuntime

<h3>Hotel</h3>

<p>Welcome to EMQ Hotel. Here you can join an existing room or reserve a new room in order to play.</p>

<div>
    <EditForm Model="@_createNewRoomModel" OnValidSubmit="@(() => SendCreateRoomReq(_createNewRoomModel))">
        <DataAnnotationsValidator/>
        <ValidationSummary/>

        <InputText id="RoomName" @bind-Value="_createNewRoomModel.RoomName" style="margin: 5px" maxlength="100"></InputText>
        <label for="RoomName">Room name</label>
        <br/>

        @* todo type= password | text toggle *@
        <InputText id="RoomPassword" type="text" @bind-Value="_createNewRoomModel.RoomPassword" style="margin: 5px" maxlength="16"></InputText>
        <label for="RoomPassword">Room password</label>
        <br/>

        <input style="margin: 5px" type="submit" class="btn btn-primary" value="Reserve Room" disabled="@(ClientState.Session == null)"/>
    </EditForm>
</div>

@if (IsJoiningRoom)
{
    <p>Joining room...</p>
}

<div class="rooms d-flex flex-row flex-wrap" style="max-width: 1600px">
    @foreach (var room in Rooms)
    {
        <div class="roomCard card" style="margin: 16px">
            <div class="roomCardBody card-body">
                <div>
                    <div>
                        <h5 class="roomName card-title">@room.Name</h5>
                    </div>
                    <div>
                        <p> Owner: @room.Owner.Username</p>
                        <p> Players: @room.Players.Count</p>
                        <p> QuizStatus: @room.Quiz?.QuizState.QuizStatus</p>
                    </div>
                </div>
            </div>

            @* todo type= password | text toggle *@
            <button class="btn btn-primary"
                    style="margin: 16px"
                    disabled="@(ClientState.Session == null || IsJoiningRoom)"
                    @onclick="@(() => JoinRoom(room.Id, ""))">
                Join
            </button>
        </div>
    }
</div>
