@page "/"
@using Microsoft.AspNetCore.Components
@using Microsoft.Extensions.Logging
@using EMQ.Shared.Core.UI
@using EMQ.Client.Components
@using EMQ.Shared.Auth.Entities.Concrete
@using EMQ.Shared.Core
@inject NavigationManager _navigation
@inject HttpClient _client
@inject ILogger<Index> _logger
@inject ClientUtils _clientUtils
@inject ClientConnectionManager _clientConnectionManager
@* @inject PlayerPreferencesComponent _playerPreferencesComponent *@

@* <a href="MethodCallStatistics">Method Call Statistics</a> *@
@* <a href="RenderTimeStatistics">Render Time Statistics</a> *@

<h1>@Constants.WebsiteName</h1>

<div>
    @if (ClientState.Session != null && !LoginInProgress)
    {
        bool isUserOrGreater = AuthStuff.HasPermission(ClientState.Session.UserRoleKind, PermissionKind.User);
        string roleStr = ClientState.Session.UserRoleKind.ToString();
        <div>
            Currently logged in as @ClientState.Session.Player.Username
            <br/>
            <span>Role: @roleStr</span>
            <br/>

            <ul>
                <li>Song count: @PublicUserInfo.SongCount</li>
                <li>Guess rate: @PublicUserInfo.GuessRate%</li>
            </ul>

            <button type="button" class="btn btn-primary" @onclick="Logout" disabled="@(LoginInProgress)">Logout</button>
            <br/>

            @if (isUserOrGreater)
            {
                // todo
               @* <details>
                    <summary>Change email</summary>
                    <ChangeEmailComponent Username="@ClientState.Session.Player.Username"></ChangeEmailComponent>
                    <br/>
                </details> *@

                <details>
                    <summary>Change password</summary>
                    <ChangePasswordComponent Username="@ClientState.Session.Player.Username"></ChangePasswordComponent>
                    <br/>
                </details>

                <details>
                    <summary>Song History</summary>
                    <QuizSongHistoryViewerComponent></QuizSongHistoryViewerComponent>
                    <br/>
                </details>

            }
        </div>
    }
    else if (LoginInProgress || ClientState.Session == null)
    {
        <p>Welcome to EMQ, please login in order to play.</p>
        <div>
            <EditForm Model="@_loginModel" OnValidSubmit="@(() => Login(_loginModel))">
                <DataAnnotationsValidator/>
                <ValidationSummary/>

                <InputText id="UsernameOrEmail" type="text" @bind-Value="_loginModel.UsernameOrEmail" style="margin: 5px"/>
                <label for="UsernameOrEmail">Username or email</label>
                <br/>

                <InputText id="Password" type="password" @bind-Value="_loginModel.Password" style="margin: 5px"/>
                <label for="Password">Password</label>
                <br/>

                <input style="margin-top: 5px" type="submit" class="btn btn-primary" value="Login" disabled="@(ClientState.Session != null || LoginInProgress)"/>
                <input style="margin-top: 5px; margin-left: 5px;" type="button" class="btn btn-primary" value="Play as Guest" @onclick="@(Onclick_PlayAsGuest)" disabled="@(ClientState.Session != null || LoginInProgress)"/>
            </EditForm>
        </div>

        <div>
            <ul>
                @foreach (string item in LoginProgressDisplay)
                {
                    <li>@item</li>
                }
            </ul>
        </div>

        <a id="register" class="link-primary" style="cursor: pointer" @onclick="@(Onclick_Register)">Register new account</a>
        <br/>
        <a id="forgottenPassword" class="link-primary" style="cursor: pointer" @onclick="@(Onclick_ForgottenPassword)">Reset forgotten password</a>
    }
</div>
