@page "/"
@using Microsoft.AspNetCore.Components
@using Microsoft.Extensions.Logging
@using EMQ.Shared.Core.UI
@using EMQ.Client.Components
@inject NavigationManager _navigation
@inject HttpClient _client
@inject ILogger<Index> _logger
@inject ClientUtils _clientUtils
@inject ClientConnectionManager _clientConnectionManager

<h1>Eroge Music Quiz</h1>

<div>
    @if (ClientState.Session != null && !LoginInProgress)
    {
        <div>
            Currently logged in as @ClientState.Session.Player.Username<br/>

            <button type="button" class="btn btn-primary" @onclick="Logout">Logout</button>
            <br/>
        </div>
    }
    else if (LoginInProgress || ClientState.Session == null)
    {
        <p>Welcome to EMQ, please login.</p>
        <div>

            <EditForm Model="@_loginModel" OnValidSubmit="@(() => Login(_loginModel))">
                <DataAnnotationsValidator/>
                <ValidationSummary/>

                <InputText id="Username" type="text" @bind-Value="_loginModel.Username" style="margin: 5px"/>
                <label for="Username">Username</label>
                <br/>

                @* Password:<br/> *@
                @* <input @bind="Password" type="password" name="Password"/><br/> *@

                <InputText id="VndbId" type="text" @bind-Value="_loginModel.VndbId" style="margin: 5px"/>
                <label for="VndbId">VNDB Id (Optional)</label>
                <br/>

                <InputText id="VndbApiToken" type="text" @bind-Value="_loginModel.VndbApiToken" style="margin: 5px"/>
                <label for="VndbApiToken">
                    <a href="https://vndb.org/u/tokens" target="_blank">VNDB API Token</a> (Optional, only required if your list is private, not sent to server)
                </label>
                <br/>

                <input style="margin-top: 5px" type="submit" class="btn btn-primary" value="Login" disabled="@(ClientState.Session != null || LoginInProgress)"/>
            </EditForm>

        </div>

        <div>
            <ul>
                @foreach (string item in LoginProgressDisplay)
                {
                    <li>@item</li>
                }
            </ul>
        </div>
    }
</div>
