@page "/LibraryPage"
@using Microsoft.Extensions.Logging
@using EMQ.Shared.Core.UI
@using EMQ.Client.Components
@using EMQ.Shared.Auth.Entities.Concrete
@using EMQ.Shared.Core
@using EMQ.Shared.Quiz.Entities.Concrete
@inject HttpClient _client
@inject ClientUtils _clientUtils

<CascadingValue Value="@this" IsFixed="true">

<h3>Library</h3>

<p>Welcome to EMQ Library. Here you can contribute new song links to the game. Please read the upload rules first. You also need to be logged in as a registered user.</p>

<details>
    <summary>Upload rules</summary>
    <p>If you don&#39;t follow a rule containing the verb MUST, your upload will be rejected on sight. </p>
    <p>If you don&#39;t follow a rule containing the verb SHOULD, your upload will not be rejected on sight, but it might be replaced by a better version in the future.</p>
    <p>&quot;Old&quot;/console-only VNs may be exempt from some of these rules.</p>
    <p>Note: If you upload a file that's not .webm, .mp3 or .ogg, EMQ will crop the silence, adjust the volume, and encode the file for you. This is the recommended way of uploading.</p>
    <h5>General</h5>
    <ol>
        <li>Uploads SHOULD be the game size/short version if there is one. If different length versions exists throughout the game, you SHOULD use the one most commonly used. If both are equally used, you SHOULD use the shorter one.</li>
        <li>MUST be from an official, untranslated release.</li>
        <li>SHOULD NOT have any unrelated content or excess silence at the start or end (MUST NOT have more than 1 second of silence at the start).</li>
        <li>Overall bitrate of the file MUST NOT exceed 3400 kbps.</li>
        <li>These are the only acceptable sources for uploads:</li>
        <ol>
            <li>Extracted from the VN's files (preferred)</li>
            <li>Files distributed officially by the producer (e.g. OP movie download on their website)</li>
            <li>Screen recordings</li>
            <li>Albums (for sound uploads)</li>
        </ol>
        <li>You MUST NOT upload files downloaded from video streaming websites.</li>
    </ol>
    <h5>Video</h5>
    <ol>
        <li>The video file MUST be .webm, and you SHOULD use VP9 over VP8.</li>
        <li>
            Resolution SHOULD be
            <ul>
                <li>at most 1280&times;720 for the 16:9 aspect ratio;</li>
                <li>at most 1024&times;768 for the 4:3 aspect ratio;</li>
                <li>at most 983040 in terms of the total video area (width&times;height) for all other aspect ratios.</li>
            </ul>
            If the native game resolution is higher than what is listed above, you may upload it as is, but downscaling while maintaining the aspect ratio of the source video is preferred.
        </li>
        <li>Video MUST NOT be upscaled from the original resolution.</li>
        <li>Framerate SHOULD be between 23.976-30 FPS. </li>
        <li>Average bitrate of the video stream SHOULD NOT exceed 2500 kbps. </li>
        <li>There SHOULD NOT be any subtitles on the video. </li>
        <li>MUST NOT be a &quot;fake video&quot; (video with a still picture). </li>
        <li>If you are recording your screen, your mouse cursor MUST NOT be visible at any point.</li>
    </ol>
    <h5>Audio</h5>
    <ol>
        <li>You MUST use .mp3 or .ogg for sound-only files. You SHOULD use .mp3 over .ogg. For audio inside .webm, you SHOULD use .opus over .ogg.</li>
        <li>If transcoding from a lossless source, you MUST use a bitrate between 192 and 320 kbps (192 kbps is preferred). In general, refrain from doing lossy -&gt; lossy transcodes. If you have to do a lossy -&gt; lossy transcode, you MUST use a bitrate of 320 kbps.</li>
        <li>The mean volume SHOULD be around -15dB. The maximum volume SHOULD be under -0.5dB.</li>
        <li>If a song contains dialogue in the middle of it, you MUST keep the dialogue. If a song contains dialogue before the music starts or after the music ends, you MUST crop the dialogue away. </li>
        <li>You MUST NOT crop off the ending abruptly. Leave at least half a second of silence (below -55 dB) at the end. This does not apply if the source file is cropped like that.</li>
    </ol>
</details>

<details>
    <summary>Batch uploader</summary>
    @if (ClientState.ServerStats.Config.IsServerReadOnly)
    {
        <span>Server is in read-only mode.</span>
    }
    else if (ClientState.ServerStats.Config.IsSubmissionDisabled)
    {
        <span>Submissions are currently disabled.</span>
    }
    else
    {
        @if (ClientUtils.HasUploadPerms())
        {
            <UploadBatchComponent></UploadBatchComponent>
        }
        else
        {
            <p>Insufficient permissions.</p>
        }
    }
</details>

<details>
    <summary>VNDB staff notes parser</summary>
    <VndbStaffNotesParserComponent></VndbStaffNotesParserComponent>
</details>

<details>
    <summary>Upload status</summary>
    <details>
        <summary>Upload queue (server)</summary>
        <button type="button" id="ButtonRefreshUploadQueue" class="btn btn-primary" style="margin: 5px" @onclick="@GetUploadQueue">
            Refresh
        </button>
        <ul>
            @foreach (string item in ServerUploadQueue)
            {
                <li>@item</li>
            }
        </ul>
    </details>

    <button type="button" id="ButtonRefreshUploadStatus" class="btn btn-primary" style="margin: 5px" @onclick="@StateHasChanged">
        Refresh
    </button>
    <ul>
        @foreach ((string _, UploadResult file) in ClientState.UploadResults.OrderBy(x => x.Value.FileName))
        {
            <li>
                @file.FileName (@file.ChosenMatch?.ToStringLatin())
                <br>
                @if (file.IsSuccess)
                {
                    <a class="link-primary" href="@(file.ResultUrl)" target="_blank" style="display: inline-block;">
                        <span>@file.ResultUrl</span>
                    </a>
                    <br/>
                    @if (!string.IsNullOrEmpty(file.ExtractedResultUrl))
                    {
                        <a class="link-primary" href="@(file.ExtractedResultUrl)" target="_blank" style="display: inline-block;">
                            <span>@file.ExtractedResultUrl</span>
                        </a>
                    }
                }
                else
                {
                    if (string.IsNullOrEmpty(file.ErrorStr))
                    {
                        <span>Uploading...</span>
                    }
                    else
                    {
                        <span>@file.ErrorStr</span>
                    }
                }
                <br>
                <br>
            </li>
        }
    </ul>
</details>

<details>
    <summary>Add new song</summary>
    @if (ClientUtils.HasEditPerms())
    {
        <EditSongComponent IsNew="true"></EditSongComponent>
    }
    else
    {
        <p>Insufficient permissions.</p>
    }
</details>
<details>
    <summary>Add new artist</summary>
    @if (ClientUtils.HasEditPerms())
    {
        <EditArtistComponent IsNew="true"></EditArtistComponent>
    }
    else
    {
        <p>Insufficient permissions.</p>
    }
</details>
<details>
    <summary>Add new source</summary>
    @if (ClientUtils.HasEditPerms())
    {
        <EditSourceComponent IsNew="true"></EditSourceComponent>
    }
    else
    {
        <p>Insufficient permissions.</p>
    }
</details>

<QuizSettingsComponent @ref="_quizSettingsComponent"
                       Room="@Room"
                       ParentStateHasChangedCallback="@StateHasChangedAsync"
                       IsQuizPage="false"
                       IsReadOnly="false"
                       IsLibraryPage="true"/>

<div style="border: 1px solid #ddd; padding: 5px">
    <Blazorise.Tabs @ref="@TabsComponent" @bind-SelectedTab="@_selectedTab" RenderMode="Blazorise.TabsRenderMode.LazyLoad">
        <Items>
            <Blazorise.Tab Name="TabAutocompleteMst">Search by source</Blazorise.Tab>
            <Blazorise.Tab Name="TabAutocompleteA">Search by artist</Blazorise.Tab>
            <Blazorise.Tab Name="TabAutocompleteMt">Search by song title</Blazorise.Tab>
            <Blazorise.Tab Name="TabVndbAdvsearch">Search by VNDB search</Blazorise.Tab>
            <Blazorise.Tab Name="TabQuizSettings">Search by room settings</Blazorise.Tab>
            <Blazorise.Tab Name="TabMyList">My list</Blazorise.Tab>
            <Blazorise.Tab Name="TabStats">Stats</Blazorise.Tab>
        </Items>
        <Content>
            <Blazorise.TabPanel Name="TabAutocompleteMst">
                <GuessInputComponent Placeholder="Enter source title here"
                                     IsDisabled="false"
                                     IsQuizPage="false"
                                     @bind-Guess="@selectedMusicSourceTitle"
                                     Callback="SelectedResultChangedMst"
                                     UseAll="true"
                                     AllowTypingId="true">
                </GuessInputComponent>
            </Blazorise.TabPanel>
            <Blazorise.TabPanel Name="TabAutocompleteA">
                <AutocompleteAComponent Placeholder="Enter artist name here"
                                        IsDisabled="false"
                                        IsQuizPage="false"
                                        @bind-Guess="@selectedArtist"
                                        Callback="SelectedResultChangedA">
                </AutocompleteAComponent>
            </Blazorise.TabPanel>
            <Blazorise.TabPanel Name="TabAutocompleteMt">
                <AutocompleteMtComponent Placeholder="Enter song title here"
                                         IsDisabled="false"
                                         IsQuizPage="false"
                                         @bind-Guess="@selectedMusicTitle"
                                         Callback="SelectedResultChangedMt"
                                         UseBGM="true">
                </AutocompleteMtComponent>
            </Blazorise.TabPanel>
            <Blazorise.TabPanel Name="TabVndbAdvsearch">
                <p>Enter either full VNDB search URL or just the f parameter. Only VN search is supported at the moment.</p>
                <p>Example: "https://vndb.org/v?q=&ch=&f=023gjaN3830X1o&s=j4w" or "023gjaN3830X1o" </p>
                <input @bind="VndbAdvsearchStr" type="text" name="VndbAdvsearchStr" style="margin: 5px; width: 700px;"/><br/>
                <button type="button" id="ButtonFetchByVndbAdvsearch" class="btn btn-primary" style="margin: 5px" @onclick="OnclickButtonFetchByVndbAdvsearchStr">
                    Fetch songs
                </button>
            </Blazorise.TabPanel>
            <Blazorise.TabPanel Name="TabQuizSettings">
                @if (ClientState.Session != null)
                {
                    <button type="button" id="buttonQuizSettings" class="btn btn-secondary" style="padding: 5px; margin: 2px; width: 120px; height: 35px"
                            @onclick="@(() => _quizSettingsComponent!.OnclickShowQuizSettings())">
                        Room Settings
                    </button>
                    <br/>
                    <button type="button" class="btn btn-primary" @onclick="Onclick_SearchByQuizSettings" style="margin-bottom: 5px;">Search</button>
                }
                else
                {
                    <p>You must be logged in to use this.</p>
                }
            </Blazorise.TabPanel>
            <Blazorise.TabPanel Name="TabMyList">
                @if (ClientState.VndbInfo.Labels != null)
                {
                   @* todo stats *@
                    <select id="SSSTMFilter" style="margin: 5px" @bind="SSSTMFilter">
                        @foreach (var key in Enum.GetValues<SongSourceSongTypeMode>())
                        {
                            <option value="@key">@key</option>
                        }
                    </select>
                    <label for="SSSTMFilter">Type</label>
                    <br/>

                    <button type="button" id="ButtonFetchMyList" class="btn btn-primary" style="margin: 5px" @onclick="OnclickButtonFetchMyList">
                        Fetch songs from my list
                    </button>
                }
                else
                {
                    <p>Your VNDB info is not set.</p>
                }
            </Blazorise.TabPanel>
            <Blazorise.TabPanel Name="TabStats">
                <Blazorise.Tabs @bind-SelectedTab="@_selectedTabStats">
                    <Items>
                        <Blazorise.Tab Name="TabAll">All</Blazorise.Tab>
                        <Blazorise.Tab Name="TabVocals">Vocals</Blazorise.Tab>
                        <Blazorise.Tab Name="TabBGM">BGM</Blazorise.Tab>
                    </Items>
                    <Content>
                        <Blazorise.TabPanel Name="TabAll">
                            <LibraryStatsComponent Mode="SongSourceSongTypeMode.All"></LibraryStatsComponent>
                        </Blazorise.TabPanel>
                        <Blazorise.TabPanel Name="TabVocals">
                            <LibraryStatsComponent Mode="SongSourceSongTypeMode.Vocals"></LibraryStatsComponent>
                        </Blazorise.TabPanel>
                        <Blazorise.TabPanel Name="TabBGM">
                            <LibraryStatsComponent Mode="SongSourceSongTypeMode.BGM"></LibraryStatsComponent>
                        </Blazorise.TabPanel>
                    </Content>
                </Blazorise.Tabs>
            </Blazorise.TabPanel>
        </Content>
    </Blazorise.Tabs>

    <div id="songsWrapper" style="border: 1px solid #ddd;">
        <div>
            <details style="margin: 5px;">
                <summary>Filters</summary>
                <SongFilterComponent @ref="songFilterComponentRef" ParentStateHasChangedCallback="@StateHasChangedAsync"/>
            </details>

            <select id="SongOrderKind" style="margin: 5px" @oninput="OnLibrarySongOrderChanged">
                @foreach (LibrarySongOrderKind orderKind in Enum.GetValues<LibrarySongOrderKind>())
                {
                    <option value="@orderKind">@orderKind.GetDescription()</option>
                }
            </select>
            <label>Sort</label>
            <br/>

            <label>
                <input type="checkbox" class="form-check-input" style="margin: 5px" @bind="IsMergeBGMTabs"/>
                Merge BGM tabs
            </label>
        </div>

        @{
            var bgms = CurrentSongs.Where(x => x.Sources.Any(y => y.SongTypes.Any(z => z == SongSourceSongType.BGM))).ToList();
            var mbBgms = bgms.Where(x => x.DataSource == DataSourceKind.MusicBrainz).ToList();
            var emqBgms = bgms.Where(x => x.DataSource == DataSourceKind.EMQ).ToList();

            var tabs = new Dictionary<string, List<Song>>();
            @if (IsMergeBGMTabs)
            {
                if (mbBgms.Any())
                {
                    tabs["BGM"] = bgms;
                }
            }
            else
            {
                if (emqBgms.Any())
                {
                    tabs["BGM (EMQ)"] = emqBgms;
                }

                // todo don't show releases that are not what's entered in the input box?
                var releases = mbBgms.SelectMany(x =>
                    x.Sources.SelectMany(y =>
                        y.Links.Where(z =>
                            z.Type == SongSourceLinkType.MusicBrainzRelease))).DistinctBy(x => x.Url);

                foreach (var release in releases)
                {
                    if (!tabs.ContainsKey(release.Name))
                    {
                        tabs[release.Name] = new List<Song>();
                    }

                    foreach (Song bgm in mbBgms)
                    {
                        var songReleases = bgm.Sources.SelectMany(y => y.Links.Where(a => a.Type == SongSourceLinkType.MusicBrainzRelease).Select(z => z.Url)).Distinct();
                        // var songReleases = bgm.MusicBrainzReleases;
                        if (songReleases.Contains(release.Url))
                        {
                            tabs[release.Name].Add(bgm);
                        }
                    }
                }
            }
        }

        @* not sure how, but LazyReload is faster than LazyLoad for this *@
        <Blazorise.Tabs @ref="TabsComponentVndb" @bind-SelectedTab="@_selectedTabVndb" RenderMode="Blazorise.TabsRenderMode.LazyReload">
            <Items>
                <Blazorise.Tab Name="TabVNDB">Vocals</Blazorise.Tab>
                @* <Blazorise.Tab Name="TabMusicBrainz">MusicBrainz</Blazorise.Tab> *@
                @foreach ((string key, _) in tabs)
                {
                    <Blazorise.Tab @key="@key" Name="@key">@key</Blazorise.Tab>
                }
            </Items>
            <Content>
                <Blazorise.TabPanel Name="TabVNDB">
                    <SongInfoCardWrapperComponent
                        CurrentSongs="@(songFilterComponentRef.ApplyFilters(CurrentSongs.Except(bgms)))"
                        NoSongsText="@NoSongsText"
                        IsLibraryPage="true">
                    </SongInfoCardWrapperComponent>
                </Blazorise.TabPanel>
                @foreach ((string key, List<Song> value) in tabs)
                {
                    <Blazorise.TabPanel @key="@key" Name="@key">
                        <details style="margin: 5px;">
                            <summary>Batch uploader (BGM mode)</summary>
                            @if (ClientState.ServerStats.Config.IsServerReadOnly)
                            {
                                <span>Server is in read-only mode.</span>
                            }
                            else if (ClientState.ServerStats.Config.IsSubmissionDisabled)
                            {
                                <span>Submissions are currently disabled.</span>
                            }
                            else
                            {
                                @if (ClientUtils.HasUploadPerms())
                                {
                                    <UploadBatchComponent Songs="value" IsBGMMode="true"></UploadBatchComponent>
                                }
                                else
                                {
                                    <p>Insufficient permissions.</p>
                                }
                            }
                        </details>
                        <br/>

                        <SongInfoCardWrapperComponent
                            CurrentSongs="@(songFilterComponentRef.ApplyFilters(value))"
                            NoSongsText="@NoSongsText"
                            IsLibraryPage="true">
                        </SongInfoCardWrapperComponent>
                    </Blazorise.TabPanel>
                }
                @* <Blazorise.TabPanel Name="TabMusicBrainz"> *@
                @*     @if (true) *@
                @*     { *@
                @*     } *@
                @* </Blazorise.TabPanel> *@
            </Content>
        </Blazorise.Tabs>

    </div>
</div>

<br/>

<Blazorise.Tabs @bind-SelectedTab="@_selectedTabQueue" RenderMode="Blazorise.TabsRenderMode.LazyReload">
    <Items>
        <Blazorise.Tab Name="TabReviewQueue">Review Queue</Blazorise.Tab>
        <Blazorise.Tab Name="TabEditQueue">Edit Queue</Blazorise.Tab>
    </Items>
    <Content>
        <Blazorise.TabPanel Name="TabReviewQueue">
            <div id="reviewQueueContainer" style="border: 1px solid #ddd; padding: 5px">
                @* <h4 style="font-size: 1.2rem">Review Queue</h4> *@
                <ReviewQueueComponent @ref="_reviewQueueComponent"></ReviewQueueComponent>
            </div>
        </Blazorise.TabPanel>
        <Blazorise.TabPanel Name="TabEditQueue">
            <div id="editQueueContainer" style="border: 1px solid #ddd; padding: 5px">
                @* <h4 style="font-size: 1.2rem">Edit Queue</h4> *@
                <EditQueueComponent></EditQueueComponent>
            </div>
        </Blazorise.TabPanel>
    </Content>
</Blazorise.Tabs>

</CascadingValue>

<br/>
<br/>
