@page "/RoomPage"
@using Microsoft.Extensions.Logging
@using EMQ.Shared.Quiz.Entities.Concrete
@using EMQ.Shared.Core
@using EMQ.Shared.Core.UI
@using EMQ.Client.Components
@using EMQ.Shared.Auth.Entities.Concrete
@using Microsoft.AspNetCore.SignalR.Client
@inject ILogger<RoomPage> _logger
@inject NavigationManager _navigation
@inject ClientUtils _clientUtils
@inject ClientConnectionManager _clientConnectionManager
@inject IJSRuntime _jsRuntime
@inject HttpClient _client
@implements IDisposable

@code {

    public void Dispose()
    {
        _chatComponent?.Dispose();
        _locationChangingRegistration?.Dispose();
    }

}

<QuizSettingsComponent @ref="_quizSettingsComponent"
                       Room="@Room"
                       ParentStateHasChangedCallback="@CallStateHasChanged"
                       IsQuizPage="false"
                       IsReadOnly="@(Room?.Owner.Id != ClientState.Session?.Player.Id || Room?.Quiz?.QuizState.QuizStatus == QuizStatus.Playing)"/>

<GenericModal @ref="@_leaveModalRef"
              Title="Leave?"
              Size="@Blazorise.ModalSize.Default"
              OkAction="@(async () => { await LeaveRoom(); })">
    <span>Are you sure you want to leave the room?</span>
</GenericModal>

<GenericModal @ref="@_forceStartModalRef"
              Title="Force start quiz?"
              Size="@Blazorise.ModalSize.Default"
              OkAction="@(async () => { await ForceStartQuiz(); })">
    <p>The following players are not ready: </p>
    <ul>
        @if (Room != null)
        {
            foreach (var player in Room.Players.Where(x => !x.IsReadiedUp && x.Id != Room?.Owner.Id))
            {
                <li>@player.Username</li>
            }
        }
    </ul>
    <p>Are you sure you still want to start the quiz?</p>
</GenericModal>

<GenericModal @ref="@_changeRoomNameAndPasswordModalRef"
              Title="Change room name and password"
              Size="@Blazorise.ModalSize.Default"
              OkAction="@(async () => { await ChangeRoomNameAndPassword(); })">
    <input id="RoomName" type="text" @bind="RoomName" disabled="@(!AuthStuff.HasPermission(ClientState.Session, PermissionKind.SendChatMessage))"/>
    <label for="RoomName">Room name</label>
    <br/>
    <br/>

    <input id="RoomPassword" type="text" @bind="RoomPassword"/>
    <label for="RoomPassword">Room password</label>
    <br/>
</GenericModal>

<SongHistoryWrapperComponent @ref="_songHistoryWrapperComponent" SongsHistory="@ClientSongsHistory"></SongHistoryWrapperComponent>

<button type="button" class="btn btn-warning" @onclick="@(() => _leaveModalRef?.Show())"
        style="position: relative; top: 2px; left: 2px; margin: 10px 2px; padding: 2px; width: 60px; height: 30px;">
    Leave
</button>

@if (Room?.Chat != null)
{
    <div style="margin-top: 20px;">
        <ChatComponent @ref="_chatComponent"></ChatComponent>
    </div>
}

<div id="roomInfo" style="margin: 10px; max-width: 800px; max-height: 600px;">
    Name:<br/>
    <p>@Room?.Name</p>

    Owner:<br/>
    <p>@Room?.Owner.Username</p>

    @* Settings:<br/> *@
    @* <p style="margin: 10px; max-width: 1000px; max-height: 600px; word-wrap: break-word">@JsonSerializer.Serialize(Room?.QuizSettings, Utils.Jso)</p> *@
    @* Tags:<br/> *@
    @*
    @* <p> *@
    @*     @JsonSerializer.Serialize( *@
    @*         Room?.QuizSettings.Filters.CategoryFilters.Select(x => $"{x.SongSourceCategory.VndbId} {x.SongSourceCategory.Name} ({x.Trilean})"), *@
    @*         Utils.Jso) *@
    @* </p> *@
</div>

@if (Room?.Owner.Id == ClientState.Session?.Player.Id)
{
    <button type="button"
            class="btn btn-primary"
            @onclick="StartQuiz"
            disabled="@(Room is {Quiz.QuizState.QuizStatus: QuizStatus.Playing })"
            style="margin: 5px;">
        @if (IsStartingQuiz)
        {
            <span>Starting...</span>
        }
        else
        {
            <span>Start Quiz</span>
        }

    </button>
}
else if (IsSpectator)
{
    <button type="button" class="btn btn-primary"
            disabled="@(Room is null || Room?.Quiz?.QuizState.QuizStatus == QuizStatus.Playing)"
            @onclick="SendConvertSpectatorToPlayerInRoom"
            style="position: relative; top: 2px; left: 2px; margin: 2px; padding: 2px; width: 120px; height: 30px; z-index: 10;">
        Join as player
    </button>
}
else
{
    <button type="button" class="btn btn-primary"
            disabled="@(Room is null)"
            @onclick="SendToggleReadiedUp"
            style="position: relative; top: 2px; left: 2px; margin: 2px; padding: 2px; width: 78px; height: 30px;">
        @UiHelpers.Bool2Text(Room?.Players.SingleOrDefault(x => x.Id == ClientState.Session?.Player.Id)?.IsReadiedUp, $"Unready", "Ready", "Ready")
    </button>

    <button type="button" class="btn btn-primary"
            disabled="@(Room is null || Room?.Quiz?.QuizState.QuizStatus == QuizStatus.Playing)"
            @onclick="@(() => SendConvertPlayerToSpectatorInRoom(ClientState.Session?.Player.Id))"
            style="position: relative; top: 2px; left: 2px; margin: 2px; padding: 2px; width: 120px; height: 30px; z-index: 10;">
        Spectate
    </button>
}

<button type="button" id="buttonQuizSettings" class="btn btn-secondary" style="padding: 5px; margin: 2px; width: 120px; height: 35px"
        @onclick="@(() => _quizSettingsComponent!.OnclickShowQuizSettings())">
    Room Settings
</button>

<button type="button" id="buttonSongHistory" class="btn btn-secondary" style="padding: 5px; margin: 2px; width: 120px; height: 35px;"
        @onclick="@OnClickButtonSongHistory">
    Song History
</button>

@if (Room?.Owner.Id == ClientState.Session?.Player.Id)
{
    <button type="button" class="btn btn-primary" @onclick="@OnclickChangeRoomNameAndPassword" style="margin:5px; padding: 5px;">
        Change room info
    </button>

    <button type="button" class="btn" style="background-color: var(--bs-emphasis-color); color: var(--bs-body-bg)" @onclick="@Onclick_InviteLink">
        @InviteLinkButtonText
    </button>

    @if (Room != null && Room.QuizSettings.TeamSize > 1)
    {
        <button type="button" class="btn btn-primary" @onclick="@Onclick_ShuffleTeams" style="margin:5px; padding: 5px;">
            Shuffle teams
        </button>

        <button type="button" class="btn btn-primary" @onclick="@Onclick_SortPlayersByTeamIds" style="margin:5px; padding: 5px;">
            Sort players by team ids
        </button>
    }
}

<div id="playersDiv" style="display:flex; margin: auto; align-items:flex-end; max-width: 65vw; overflow-x: auto;">
    @if (Room?.Players.Any() ?? false)
    {
        @foreach (var player in Room.Players)
        {
            bool isReadiedUp = player.IsReadiedUp || Room?.Owner.Id == player.Id;
            string boxShadowColor = isReadiedUp ? "#0f0" : "#f00";
            <div class="playerDiv" style="margin: 10px; width: 160px; height: 350px; opacity: @UiHelpers.Bool2Text(player.HasActiveConnectionQuiz, "inherit", "0.5");
                 box-shadow: inset 0 0 2px @boxShadowColor, 0 0 5px @boxShadowColor, 0 0 5px @boxShadowColor, 0 0 5px @boxShadowColor;">
                <p style="text-align: center;">@(isReadiedUp ? "Ready" : "Not ready")</p>

                @if (Room?.QuizSettings.TeamSize > 1)
                {
                    @if (player.Id == ClientState.Session?.Player.Id || Room?.Owner.Id == ClientState.Session?.Player.Id)
                    {
                        <span>Team: </span>
                        <select @bind:get="@player.TeamId" @bind:set="@(async (int value) => await SetSelectedTeamIdAsync(value, player.Id))" @bind:event="oninput">
                            @foreach (int num in Enumerable.Range(1, 8))
                            {
                                <option value="@num">@num</option>
                            }
                        </select>
                        <br/>
                    }
                    else
                    {
                        <span>Team: @player.TeamId</span>
                        <br/>
                    }
                }

                @if (Room != null && Room.QuizSettings.GamemodeKind == GamemodeKind.NGMC)
                {
                    @if (player.Id == ClientState.Session?.Player.Id || Room?.Owner.Id == ClientState.Session?.Player.Id)
                    {
                        <span>Guesses: </span>
                        <select @bind:get="@player.NGMCGuessesInitial" @bind:set="@(async (int value) => await SetSelectedNGMCGuessesInitialAsync(value, player.Id))" @bind:event="oninput">
                            @foreach (int num in Enumerable.Range(0, 10))
                            {
                                <option value="@num">@num</option>
                            }
                        </select>
                        <br/>
                    }
                    else
                    {
                        <span>Guesses: @player.NGMCGuessesInitial</span>
                        <br/>
                    }
                }

                @if (Room != null && Room.QuizSettings.AnsweringKind == AnsweringKind.Mixed)
                {
                    @if (player.Id == ClientState.Session?.Player.Id)
                    {
                        <select @bind:get="@((int)player.AnsweringKind)" @bind:set="@SetAnsweringKindAsync" @bind:event="oninput">
                            @foreach (var value in Enum.GetValues<AnsweringKind>().Where(x => x != AnsweringKind.Mixed))
                            {
                                <option value="@((int)value)">@value.GetDescription()</option>
                            }
                        </select>
                        <br/>
                    }
                    else
                    {
                        <span>@player.AnsweringKind.GetDescription()</span>
                        <br/>
                    }
                }

                @{
                    Avatar avatar = ClientState.Preferences.ForceDefaultAvatar ? Avatar.DefaultAvatar : player.Avatar;
                }
                <img width="160px" height="160px" src="@Avatar.GetUrlByPlayerState(avatar, PlayerStatus.Default)" alt="Avatar" class="@(isReadiedUp ? "Ready" : "NotReady")">

                <div style="background-color:rgba(0, 0, 0, 0.9); height:25px; width: 160px; display: flex; justify-content:center; align-items:center;">
                    @if (player.IsBot)
                    {
                        <span style="color: white; text-shadow: 1px 0 0 #000, 0 -1px 0 #000, 0 1px 0 #000, -1px 0 0 #000;
                                                     position: absolute; bottom: 47.5%; font-weight: bold; font-size: large;">
                            Bot
                        </span>
                    }

                    @{
                        string usernameColor = "white";
                    }

                    @if (Room != null && Room.QuizSettings.TeamSize > 1 && !Room.QuizSettings.IsSharedGuessesTeams)
                    {
                        usernameColor = player.TeamId switch
                        {
                            1 => "orange",
                            2 => "#db00db",
                            3 => "#5f5fff",
                            4 => "red",
                            5 => "yellow",
                            6 => "green",
                            7 => "cyan",
                            8 => "#f7a6b4",
                            _ => usernameColor
                            };
                    }

                    <span style="color: @usernameColor; max-width: 130px; overflow: hidden; text-overflow: ellipsis; white-space: nowrap;">
                        @player.Username
                    </span>
                </div>
                @if ((Room?.Owner.Id == ClientState.Session?.Player.Id && player.Id != ClientState.Session?.Player.Id) ||
                     (AuthStuff.HasPermission(ClientState.Session, PermissionKind.Moderator) && Room?.Owner.Id != ClientState.Session?.Player.Id && player.Id != Room?.Owner.Id))
                {
                    <div style="display: flex; justify-content:center; align-items:center;">
                        @if (player.IsBot)
                        {
                            <EditBotPlayerWrapperComponent Model="player" IsReadOnly="false"/>
                        }
                        else
                        {
                            <button type="button" class="btn btn-primary" title="Transfer ownership"
                                    disabled="@(Room?.Quiz?.QuizState.QuizStatus == QuizStatus.Playing)"
                                    @onclick="@(() => OnclickTransferRoomOwnership(player.Id))" style="margin:5px; padding: 5px;">
                                👑
                            </button>
                        }

                        <button type="button" class="btn btn-primary" title="Kick"
                                disabled="@(Room?.Quiz?.QuizState.QuizStatus == QuizStatus.Playing)"
                                @onclick="@(() => OnclickKickFromRoom(player.Id))" style="margin:5px; padding: 5px;">
                            🥾
                        </button>

                        @if (!player.IsBot)
                        {
                            <button type="button" class="btn btn-primary" title="Convert to spectator"
                                    disabled="@(Room?.Quiz?.QuizState.QuizStatus == QuizStatus.Playing)"
                                    @onclick="@(() => SendConvertPlayerToSpectatorInRoom(player.Id))" style="margin:5px; padding: 5px;">
                                👁
                            </button>
                        }
                    </div>
                }
            </div>
        }

        @if (Room?.Owner.Id == ClientState.Session?.Player.Id && AuthStuff.HasPermission(ClientState.Session, PermissionKind.User))
        {
            <button type="button" class="btn btn-success" @onclick="Onclick_AddBotPlayer">Add bot</button>
        }
    }

</div>

@* // todo move to chat component *@
@if (Room?.Spectators.Any() ?? false)
{
    <div style="padding: 2px; margin: 5px;">
        Spectators:
        <ul style="padding-left: 0">
            @foreach (var spectator in Room.Spectators)
            {
                <li>@spectator.Username</li>
            }
        </ul>
    </div>
}
