@page "/RoomPage"
@using Microsoft.Extensions.Logging
@using EMQ.Shared.Quiz.Entities.Concrete
@using EMQ.Shared.Quiz.Entities.Concrete.Dto.Request
@using Microsoft.AspNetCore.SignalR.Client
@using EMQ.Shared.Core
@inject HttpClient Client
@inject ILogger<RoomPage> _logger
@inject NavigationManager Navigation
@inject ClientUtils _clientUtils
@inject ClientConnectionManager _clientConnectionManager

<h3>Room</h3>

<div id="roomInfo">
    Name:<br/>
    <p>@Room?.Name</p>
    Owner:<br/>
    <p>@Room?.Owner.Username</p>
    Settings:<br/>
    <p>@JsonSerializer.Serialize(Room?.QuizSettings, Utils.Jso)</p>
</div>

<button class="btn btn-primary" disabled="@(Room?.Owner.Id != ClientState.Session?.Player.Id)" @onclick="StartQuiz">Start Quiz</button>
@* <button class="btn btn-primary" disabled="@(!Room?.Quiz?.QuizState!.IsActive)" @onclick="Hotjoin">Hotjoin Quiz</button> *@

<div id="playersDiv" style="display:flex; justify-content:center; align-items:center;">
    @if (Room?.Players.Any() ?? false)
    {
        @foreach (var player in Room.Players)
        {
            <div class="playerDiv" style="margin: 20px">
                @* <p> Id: @player.Id</p> *@
                <p> Name: @player.Username</p>
                <img width="200px" height="200px" src="@Avatar.GetUrlByPlayerState(player.Avatar, PlayerState.Default)" alt="Avatar">
            </div>
        }
    }

</div>

@code {
    private Room? Room { get; set; }

    private readonly Dictionary<string, (Type[] types, Func<object?[], Task> value)> _handlers;

    public RoomPage()
    {
        _handlers = new Dictionary<string, (Type[] types, Func<object?[], Task> value)>
        {
            { "ReceivePlayerJoinedRoom", (new Type[] { }, async _ => { await OnReceivePlayerJoinedRoom(); }) },
            { "ReceiveQuizEntered", (new Type[] { }, async _ => { await OnReceiveQuizEntered(); }) }
        };
    }

    protected override async Task OnInitializedAsync()
    {
        await _clientConnectionManager.SetHandlers(_handlers);

        Room = await _clientUtils.SyncRoom();
        StateHasChanged();

        if (Room!.Quiz?.QuizState.QuizStatus is QuizStatus.Playing && Room.QuizSettings.IsHotjoinEnabled)
        {
            Hotjoin();
        }
    }

    private async Task StartQuiz()
    {
        if (Room!.Owner.Id == ClientState.Session!.Player.Id)
        {
            HttpResponseMessage res1 = await Client.PostAsJsonAsync("Quiz/StartQuiz", new ReqStartQuiz(ClientState.Session.Player.Id, Room.Id));
            if (res1.IsSuccessStatusCode)
            {
            }
        }
    }

    private async Task OnReceiveQuizEntered()
    {
        _logger.LogInformation("Navigating from Room to Quiz");
        Navigation.NavigateTo("/QuizPage");
    }

    private async Task OnReceivePlayerJoinedRoom()
    {
        _logger.LogInformation("Syncing room because ReceivePlayerJoinedRoom");
        Room = await _clientUtils.SyncRoom();
        StateHasChanged();
    // _logger.LogInformation(JsonSerializer.Serialize(Room));
    }

    private void Hotjoin()
    {
        _logger.LogInformation("Hotjoining Quiz");
        Navigation.NavigateTo("/QuizPage");
    }

    private async Task ChangeTeam(int teamId)
    {
    // todo
    }

}
