@page "/eu/all"
@using EMQ.Shared.Auth.Entities.Concrete.Dto.Response
@using Microsoft.AspNetCore.Components.QuickGrid
@inject HttpClient _client

<a class="link link-primary" href="/eu/all/votes">Recent votes</a>
<br/>
<a class="link link-primary" href="/eu/all/comments">Recent comments</a>
<br/>

<h3>Browse users</h3>
<br/>

<div>
    <Paginator State="@_pagination"/>
</div>
<div class="grid" tabindex="-1">
    <QuickGrid Items="@UserStats" Pagination="@_pagination">
        <PropertyColumn Property="@(x => x.Id)" Title="Id" Sortable="true" IsDefaultSortColumn="true" InitialSortDirection="SortDirection.Descending"/>
        <TemplateColumn Title="Username" Sortable="true" SortBy="@(GridSort<UserStat>.ByAscending(x => x.Username))">
            @if (true)
            {
                string href = $"eu{context.Id}";
                <a href="@href">@context.Username</a>
            }
        </TemplateColumn>
        <PropertyColumn Property="@(x => x.CreatedAt)" Title="Registered" Format="s" Sortable="true"/>
        <PropertyColumn Property="@(x => x.Played)" Title="Plays" Sortable="true"/>
        <PropertyColumn Property="@(x => x.AvgPlaysPerDay)" Title="Avg. plays per day" Sortable="true"/>
        <PropertyColumn Property="@(x => x.Votes)" Title="Votes" Sortable="true"/>
    </QuickGrid>
</div>
<br/>

@code {

    private IQueryable<UserStat>? UserStats { get; set; }

    private readonly PaginationState _pagination = new() { ItemsPerPage = 50 };

    protected override async Task OnInitializedAsync()
    {
        HttpResponseMessage res1 =
            await _client.PostAsJsonAsync("Auth/GetUserStats", "");
        if (res1.IsSuccessStatusCode)
        {
            var content = (await res1.Content.ReadFromJsonAsync<List<UserStat>>())!;
            UserStats = content.AsQueryable();
        }
    }

}
